.dashboard {
    display: flex;
    flex-direction: row;
    width: 100%;

    fieldset {
        width: 100%;
        margin: 20px;

        input {
            margin: 20px 20px 0;
            padding: 10px;
            width: 400px;
        }

        legend {
            margin: 0 20px;
            padding: 0 20px;
            font-size: 24px;
        }
    }
}