.table {
    margin: 20px;
    border-collapse: separate;
    width: calc(100% - 40px);

    thead {

        tr {
            background-color: rgb(163, 163, 163);
        }

        th {
            padding: 10px;
        }
    }

    img {
        width: 70px;
        height: 70px;
        border-radius: 100%;
    }

    tr {
        background-color: rgb(235, 235, 235);
    }

    td {
        height: 120px;
        text-align: center;
    }
}